body {
    background-color: navy;
    color: white
    
}

nav {
    justify-content: center;
    word-spacing: 2.5px;
    text-align: center;
}

a {

    justify-content: center;
    text-align: center;
    color: white
}


h1 {
    text-align: center;
}

button {
    background-color: black;
    color: white
}

#logocontainer {
    display: flex;
    justify-content: center;
}

#logobox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#carlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-bottom: 15px
}
