<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Car</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Car!</h1>
    <form action="/users/<%= user._id %>/cars" method="POST">
        <label for="car">Car Text:</label>
        <input type="text" id="car" name="car" required>
        <label for="isInShowroom">Is this car in the Showroom?:</label>
        <input type="checkbox" name="isInShowroom" id="isInShowroom"/>
        <button type="submit">Add Car</button>
    </form>
    <a href="/cars/">Back to Showroom</a>
</body>
</html>